page-insert-vehicle {

    h5{
        margin-top: 25px;
        text-align: center;
    }

    img{
        border-radius: 100%;
    }

    .danger{
        color: red;
    }

    .padding{
        margin-top: 25px;
    }
}
