page-main {

    img {
        width: 350px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

     .align {
        width: 200px;
        margin-top: 25px;
        margin-left: 90px;
    }
}
