<ion-header>
  <ion-navbar>
    <ion-title *ngIf="personType == 'seller'">Dados do Vendedor</ion-title>
    <ion-title *ngIf="personType == 'client'">Dados do Cliente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-toolbar>
    <ion-searchbar showCancelButton="true" (search)="searchBar($event)" (ionCancel)="cancelSearchBar()" placeholder="Digite o CPF ou CNPJ"></ion-searchbar>
  </ion-toolbar>

  <div *ngIf="person != null">
    <ion-card>
      <ion-card-header>
       <b>Dados Pessoais</b>
      </ion-card-header>

      <ion-item>
        <h2><strong>Nome: </strong> {{person?.name}}</h2>
        <h2 class="padding"><strong>Email: </strong> {{person?.email}}</h2>
        <h2 class="padding"><strong>CPF/CNPJ: </strong> {{person?.cpfCnpj}}</h2>
        <h2 class="padding"><strong>Telefone: </strong> {{person?.telephone}}</h2>
        <h2 class="padding"><strong>Telefone: </strong> {{person?.telephone2}}</h2>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <b>Endereço</b>
      </ion-card-header>

      <ion-item>
        <h2><strong>Rua: </strong> {{person?.address.street}}</h2>
        <h2 class="padding"><strong>Número: </strong> {{person?.address.number}}</h2>
        <h2 class="padding"><strong>Bairro: </strong> {{person?.address.district}}</h2>
        <h2 class="padding"><strong>CEP: </strong> {{person?.address.postalCode}}</h2>
        <h2 class="padding"><strong>Cidade: </strong> {{person?.address.city}}</h2>
        <h2 class="padding"><strong>Estado: </strong> {{person?.address.state}}</h2>
      </ion-item>
    </ion-card>

    <button margin-left color="tertiary" ion-button outline (click)="update()">Atualizar</button>
    <button margin-left color="tertiary" ion-button (click)="next()">Próximo</button>
  </div>

  <div *ngIf="person == null">
    <button color="tertiary" ion-button block (click)="insert()">Adicionar</button>
  </div>
</ion-content>
