<ion-header>
  <ion-navbar>
    <ion-title>Minhas Despesas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top right edge>
    <button color="tertiary" navPush="InsertWithdrawPage" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="withdraws.length != 0">
    <ion-toolbar>
      <ion-searchbar showCancelButton="true" (search)="searchBar($event)" (ionCancel)="cancelSearchBar()" placeholder="Digite o banco ou descrição"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
      <ion-card  *ngFor="let withdraw of withdraws">
        <ion-card-header>
          <b>{{ withdraw?.name }}</b>
        </ion-card-header>
        
        <ion-item>
          <ion-thumbnail item-start>
            <img *ngIf="withdraw?.bank == 1" class="imgpadding" src="assets/imgs/santander.png">
            <img *ngIf="withdraw?.bank == 2" class="imgpadding" src="assets/imgs/nubank.png">
          </ion-thumbnail>
          <h3 text-center><strong>Data: {{withdraw?.date}}</strong></h3>
          <h3 text-center><strong>Valor: {{withdraw?.value | currency:'BRL'}}</strong></h3>
          <button color="tertiary" ion-button block (click)="delete(withdraw?.id)">Deletar</button>
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="checkLastPage == false">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="withdraws.length == 0">
    <img src="assets/imgs/empty.png">
  </div>
</ion-content>