<ion-header>
  <ion-navbar>
    <ion-title>Meu Estoque</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab top right edge>
    <button color="tertiary" navPush="SellerOrClientPage" [navParams]="{personType:'seller'}" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="vehicles.length != 0">

    <h5>Estoque (C): {{ valueInStock | currency:'BRL' }}</h5>
    <h5>Estoque (V): {{ sellValuesInStock | currency:'BRL' }}</h5>

    <ion-toolbar>
      <ion-searchbar showCancelButton="true" (search)="searchBar($event)" (ionCancel)="cancelSearchBar()"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
      <button ion-item  *ngFor="let vehicle of vehicles" (click)="showDetails(vehicle.id)">
       

        <ion-thumbnail item-start>
          <b>{{ vehicle?.brand }}</b>
          <img *ngIf="vehicle?.type == 1" class="imgpadding" src="assets/imgs/carro.png">
          <img *ngIf="vehicle?.type == 2" class="imgpadding" src="assets/imgs/moto.png">
        </ion-thumbnail>

          <h2>{{ vehicle?.model }}, {{ vehicle?.version }}, cor  {{ vehicle?.color }}</h2>
          <h2> Placa: {{ vehicle?.licensePlate }}</h2>
          <b>Valor: {{vehicle?.possibleSellValue | currency:'BRL' }}</b>
      </button>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="checkLastPage == false">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="vehicles.length == 0">
    <img src="assets/imgs/empty.png">
  </div>
</ion-content>
